extends layout

block content
  
  // Navegación

  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') 
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#mapa') Mapa
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/bicicletas/') Listado de Bicicletas

  // Cabecera
  header.masthead
    .container.d-flex.h-100.align-items-center
      .mx-auto.text-center
        h1.mx-auto.my-0.text-uppercase Red de Bicicletas
        h2.text-white-50.mx-auto.mt-2.mb-5 ¡Bienvenido a nuestra red de bicicletas!
        a.btn.btn-primary.js-scroll-trigger(href='#mapa') MAPA

  // Información
  section#mapa.about-section.text-center
    .container
      .row
        .col-lg-8.mx-auto
          h2.text-white.mb-4 Proyecto por: Ciro Cespedez
          p.text-white-50
            | Bienvenido a mi proyecto NodeJS. Puedes ver el listado de mis bicicletas en el siguiente enlace: 
            a(href='/bicicletas/index') Lista de Bicicletas
            |                             

      // Mapa

    .container
      #main_map

      // Email
    br
    br
    br
    br
    br
    br
    .container
    center
        .col-md-4.mb-3.mb-md-0
            h4.card-body.text-center
              i.fas.fa-envelope.text-primary.mb-2
              hr.my-2
              .small.text-black-0
                a.h3(href='#contacto') ciro_cespedez@hotmail.com
    br
    br
    br
    br
    br
    br
  
  // core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

  // Plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

  // Core JS
  script(src='/javascripts/scripts.js')

  // Script Mapa 
  script(src='/javascripts/map.js')


